= render :partial => "help_nav" if request.format == 'js'
- unless @help_topic.blank?
  %h1= @help_topic.title
  = raw RDiscount.new(@help_topic.content).to_html
- else
  %h1 Help
  %p There is no help available for this section, however you may be able to find what you're looking for in these general topics:
  %ul
    %li= link_to "Embedding Images, Videos, or Documents into Your Content", "/forge/help/embedding"
    %li= link_to "Uploading Assets From Your Computer", "/forge/help/uploading"
  

  %h4 Still can't find what you're looking for?
  %p
    If none of the above was helpful to you, you can #{link_to "browse the help index", "/forge/help"}  
    = raw(Forge::Settings[:support_instructions_in_help])
  
