- site_url = MySettings.site_url || request.protocol + request.host

!!! XML
%urlset{ :xmlns => "http://www.sitemaps.org/schemas/sitemap/0.9" }
  %url
    %loc= site_url
    %lastmod= @homepage.updated_at
    %changefreq daily
    %priority 1

  - @models.each do |model, options|
    - (model = model.classify.constantize) && model.reorder('title ASC').find_each do |object|
      - next if object == @homepage

      %url
        %loc= site_url + url_for(object)

        - if object.respond_to?(:updated_at)
          %lastmod= object.updated_at.iso8601

        - if options[:changefreq]
          %changefreq= options[:changefreq]

        - if options[:priority]
          %priority= options[:priority]
