- content_for :scripts do
  = javascript_include_tag 'jquery.quickSearch.js'
  :javascript
    $( function () {
      FORGE.features.comments.init();
    });

%h1 Comments

%p.info These are comments that people have left on your items.  You can either approve or delete them.

= render :partial => "forge/shared/section_header", :locals => {:item => Comment, :options => { :show_new => false }}
%ul#item-list
  = render :partial => "comment", :collection => @comments
  .comment-approval
    = link_to "All", "?", :class => ("active" if params[:show].blank?), :id => "first"
    = link_to "Unapproved", "?show=unapproved", :class => ("active" if params[:show] == "unapproved")
    = link_to "Approved", "?show=approved", :class => ("active" if params[:show] == "approved")
= render :partial => "forge/shared/section_footer", :locals => {:items => @comments}
