!!! Strict
%html{ :lang => "en" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }/
    %title
      = @page_title + " | " if @page_title
      = MySettings.site_name
    = stylesheet_link_tag 'forge/login'
    = javascript_include_tag 'forge/login'
    = yield :scripts

  %body
    #top-shadow
      #container
        = image_tag("forge/logo-big.png", :class => "logo")
        = browser_detection(request.env['HTTP_USER_AGENT'])
        = flash_messages
        = yield