- content_for :scripts do
  = javascript_include_tag 'jquery.quickSearch'<%= ", 'jquery.twoLevelSort'"  unless attributes.select{|a| a.name == "list_order" }.empty? %>
  :javascript
    $(function() {
      $('#quick-search').quickSearch({url: '#{forge_<%= table_name %>_path}'});
<% unless attributes.select{|a| a.name == "list_order" }.empty? -%>
      $('.item-list-compact').forgeTwoLevelSort({callbackPath: '#{reorder_forge_<%= table_name %>_path}', itemArray: '<%= singular_name %>_list[]'});
<% end -%>
      FORGE.features.compact_form.init();
    });

%h1
  <%= table_name.humanize.titleize %>
  = language_switcher(:<%= table_name %>)

%p.info This is a list of all the <%= table_name.humanize.downcase %> in your site.  You can add, edit, and delete <%= table_name.humanize.downcase %> here.


.inner-form.no-top.with-wide-sidebar
  .column.wide-side
    %h3 Add/Edit <%= singular_name.humanize.titleize %>
    .explanation You can create/edit your <%= singular_name.humanize.downcase %> here.
    #form
      - if can?(:create, <%= class_name %>)
        = render "form"
      - else
        You can't create <%= table_name.humanize.downcase %>, but you can choose one on the right to edit.

  .column.main-small.last
    %h3 Existing <%= table_name.humanize.titleize %>
    .explanation You can edit or delete your existing <%= table_name.humanize.downcase %> here.
    %ul.item-list-compact= render :partial => "<%= singular_name %>", :collection => @<%= table_name %>

  .spacer
= render :partial => "forge/shared/section_footer", :locals => {:items => @<%= table_name %>}