%p.font Welcome to Forge!&nbsp;Please log in below.

= error_messages_for :session

#login-box
  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    .row
      = f.label :email, :label => "Email Address:"
      = f.text_field :email

    .row
      = f.label :password, :label => "Password:"
      = f.password_field :password

    .row
      = button_submit_tag "Login", :class => "button no-icon"

    .bottom
      %span.label Remember Me?
      = slider("Yes Please", f.radio_button(:remember_me, true, :checked => true), "No Thanks", f.radio_button(:remember_me, false))

%p{:style => "text-align: right; margin-top: 10px; font-size: 12px;"}
  - if devise_mapping.recoverable? && controller_name != 'passwords'
    = link_to "Forgot your password?", new_password_path(resource_name)
  = " | "
  = link_to "Register", "/register"