- content_for :scripts do
  = javascript_include_tag 'jquery.quickSearch.js'
  :javascript
    $(function() {
      FORGE.features.pages.index();
    })

  - if can?(:manage, Page)
    = javascript_include_tag 'jquery.twoLevelSort.js'
    :javascript
      $(function() {
        $('#item-list').forgeTwoLevelSort({callbackPath: '#{reorder_forge_pages_path}'});
      });

%h1 Your Pages

%p.info These are all of the regular pages in your site.  You can drag &amp; drop pages and subpages to change their order.

= render :partial => "forge/shared/section_header", :locals => {:item => Page}
%ul#item-list= render :partial => "page_list", :locals => { :pages => @pages }
#item-list-bottom
