.inner-form.no-top.with-normal-sidebar
  .column.side
    %h3 eCommerce Live?
    .explanation Start processing real payments?
    = slider("Sure", radio_button_tag("settings[ecommerce_live]", true, MySettings.ecommerce_live), "No", radio_button_tag("settings[ecommerce_live]", false, !MySettings.ecommerce_live))
    %hr

    %h3 Receipt Email
    .explanation "From" email address for order receipts.
    = text_field_tag "settings[receipt_email]", MySettings.receipt_email, :style => "width: 90%;"
    %hr

    %h3 BCC Receipt Email
    .explanation If you enter an email address here, order receipts will be BCC'd to it.
    = text_field_tag "settings[bcc_receipt_email]", MySettings.bcc_receipt_email, :style => "width: 90%;"
    %hr

  .column.main.last

    %h3 PayPal Invoice Prefix
    .explanation Letters or numbers to display at the start of PayPal invoice numbers.
    = text_field_tag "settings[paypal_invoice_prefix]", MySettings.paypal_invoice_prefix, :class => "title"
    %hr

    %h3 Handling Fee
    .explanation A set handling amount that will be added to all eCommerce orders. 5.00 = $5.
    = text_field_tag "settings[handling]", MySettings.handling, :class => "title"
    %hr

    %h3 Shipping Company
    .explanation Which shipping provider do you want to use by default?
    = collection_select(:settings, :shipper, @carriers, :name, :name, {:include_blank => true})
    %hr

    .spacer

  .spacer
