.inner-form.no-top.with-normal-sidebar
  .column.side
    %h3 Comment Email
    .explanation Do you want to receive an email when someone posts a comment?
    = slider("Sure", radio_button_tag("settings[comment_email]", true, MySettings.comment_email), "No", radio_button_tag("settings[comment_email]", false, !MySettings.comment_email))
    %hr

    %h3 Contact Email
    .explanation Destination email address for alerts.  Separate multiple email addresses with commas.
    = text_field_tag "settings[contact_email]", MySettings.contact_email, :style => "width: 90%;"
    %hr

    %h3 Sender Email
    .explanation "From" email address for alerts.
    = text_field_tag "settings[from_email]", MySettings.from_email, :style => "width: 90%;"

    - if @menu_items.include?("dispatches")
      %hr
      %h3 Dispatch Email
      .explanation "From" email address for ForgePress dispatches.
      = text_field_tag "settings[dispatch_email]", MySettings.dispatch_email, :style => "width: 90%;"


  .column.main.last
    %h3 Site URL
    = text_field_tag "settings[site_url]", MySettings.site_url, :class => "title"
    %hr

    %h3 Site Name
    = text_field_tag "settings[site_title]", MySettings.site_title, :class => "title"
    %hr

    %h3 Google Analytics Code
    .explanation= link_to "Create a New Profile Here", "https://www.google.com/analytics/settings/add_profile?scid=16153080", :target => "_"
    = text_area_tag "settings[google_analytics]", MySettings.google_analytics, :style => "width: 90%; height: 180px;"



  .spacer
