= big_list_item(:class => "comment #{"approved" if comment.approved}", :id => comment.id) do
  .item-title.comment{:class => ("draft" unless comment.approved) }
    %strong Posted by:
    = link_to comment.author, "mailto:#{comment.author_email}"
    %br/
    %strong Posted to:
    = link_to("#{comment.commentable_type}: #{comment.commentable.title}", comment.commentable, :target => "_")
    .comment-content
      - if comment.short?
        .toggle show/hide
        .short= simple_format(comment.short_comment)
        .long= simple_format(comment.content)
        .spacer
      - else
        = simple_format(comment.content)

  .item-info{:style => "width:110px;"}
    %small
      %strong= comment.created_at.strftime('%B %e, %Y')
      %br/
      = comment.created_at.strftime('%l:%M %p')
  .item-actions
    = action_link("View on Site", post_path(comment.commentable_id), :icon => "laptop") if comment.approved?

    - if comment.approved
      .item-action<
        = link_to icon_tag('thumbdown'), unapprove_forge_comment_path(comment), :class => "unapprove", :method => :put, :id => comment.id
        %br/
        %small= link_to "Unapprove", unapprove_forge_comment_path(comment), :class => "unapprove", :method => :put, :id => comment.id
    - else
      .item-action
        = link_to icon_tag('thumbup'), approve_forge_comment_path(comment), :class => "approve", :method => :put, :id => comment.id
        %br/
        %small= link_to "Approve", approve_forge_comment_path(comment), :class => "approve", :method => :put, :id => comment.id
    = delete_link(comment)
  .spacer

  .spacer