- content_for :scripts do
  = javascript_include_tag 'jquery.quickSearch.js'<%= ", 'jquery.twoLevelSort.js'"  unless attributes.select{|a| a.name == "list_order" }.empty? %>
  :javascript
    $(function() {
      $('#quick-search').quickSearch({url: '#{forge_<%= table_name %>_path}'});
<% unless attributes.select{|a| a.name == "list_order" }.empty? -%>
      $('#item-list').forgeTwoLevelSort({callbackPath: '#{reorder_forge_<%= table_name %>_path}', itemArray: '<%= singular_name %>_list[]'});
<% end -%>
    });

%h1 Your <%= table_name.humanize.titleize %>

%p This is a list of all the <%= table_name.humanize.downcase %> in your site.  You can add, edit, and delete <%= table_name.humanize.downcase %> here.

= render :partial => "forge/shared/section_header", :locals => {:item => <%= class_name %>}
%ul#item-list= render :partial => "<%= singular_name %>", :collection => @<%= table_name %>
= render :partial => "forge/shared/section_footer", :locals => {:items => @<%= table_name %>}