#asset-drawer
  #search-area
    .float-left
      = text_field_tag :q, '', :class => 'search', :id => 'asset-drawer-search'
      &nbsp;
      = link_to "Images Only", '/forge/assets/drawer?filter=images', :class => 'drawer-asset-filter'
      &nbsp;
      = link_to "Documents/Files Only", '/forge/assets/drawer?filter=documents', :class => 'drawer-asset-filter'
      &nbsp;
      = link_to "Everything", '/forge/assets/drawer', :class => 'drawer-asset-filter'
      &nbsp;&nbsp;
    
    .float-right
      %small
        = link_to "Upload More Assets", '#', :id => 'new-asset-link'
        &nbsp;
        = link_to "Nevermind!", '#', :class => "close-asset-drawer"
      = link_to image_tag("forge/drawer-close.png", :style => "vertical-align: top;"), '#', :class => "close-asset-drawer"
    .spacer
    
  #frame
    %ul
    
  #new-asset-dialog{:style => "display: none;"}