#product_actions{:class => "#{order && order.line_items.size > 0 ? "hide_with_javascript" : ""}"}
  %strong Add to Cart
  %br/
  = form_tag add_to_cart_orders_path, :id => "add_to_cart" do
    = hidden_field_tag "product_id", product.id
    Quantity: 
    = text_field_tag "quantity", nil, :size => 4
    = submit_tag "Add"
